<a href="https://colab.research.google.com/github/okgrover/IBM-Data-Science-Course/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

## Author
Ojal K Grover

In this notebook, Data Science Tools and Ecosystem are summarised.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Introduce basic arithmetic operations in Python

Some of the popular languages that Data Scientists utilise are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Tensorflow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |
| Power BI           |
| Tableau            |
| Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers
result = (3*4) + 5
result

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335